* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-size: 1em;
    font-family: 'Rock Salt', cursive;
}

ul {
    list-style: none;
    margin: 0;
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}
/*
#language-background {
    right: 0;
    position: fixed;
    height: 40px;
    width: 240px;
    border-bottom-left-radius: 10px;
    background-color: white;
    opacity: 0.8;
    z-index: 9;
}

.language-bar {
    position: fixed;
    overflow: hidden;
    right: 0px;
    z-index: 10;
    border-bottom-left-radius: 10px;
}

.language-bar ul {
    height: 40px;
    width: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.language {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #999999;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    font-family: 'Shadows Into Light Two', cursive;
}

.language:hover {
    color: #DDDDDD;
    background-color: #333333;
    cursor: pointer;
}
*/
.pages {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

/* ============================== HEAD SECTION ====================================== */

#head { 
    padding-bottom: 100px;
	background: url('../img/front-img.jpg') 50% 0 fixed;
	min-height: 1020px; 
	height: 1020px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#head .spacer {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

#head article { 
    -webkit-box-flex: 11; 
    -webkit-flex: 11; 
    -ms-flex: 11; 
    flex: 11;
	color: white;
	font-size: 6em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#name {
    text-align: center;
    min-height: 170px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.smaller {
    font-size: 4rem;
    text-align: center;
}

/* ============================== ABOUT SECTION ====================================== */

#about { 
	background: url('../img/background-test.jpg') 50% 0 fixed;
	min-height: 800px; 
	height: 800px; 
    -webkit-transition: background-image 500ms ease-in-out; 
    transition: background-image 500ms ease-in-out;
}
 
#about article { 
    margin-top: 30px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #ffffff;
}

.about-nav {
    padding-top: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.about-nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 70px;
    font-size: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    -webkit-transition: font-size 500ms ease-in-out;
    transition: font-size 500ms ease-in-out; 
}

.about-content {
    height: 630px;
    font-size: 1.5rem;
}

#about-me {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#my-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 50px;
    font-size: 1.2em;
}

#my-info ul {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 30px;
}

#my-info ul a {
    color: #ffffff;
}

.ul-wrapper:first-child {
    margin-bottom: 30px;
}
.ul-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#my-info ul h4 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

#my-info ul li {
    margin-left: 50px;
}

#project-info {
     -webkit-box-flex: 1;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 100px;
    font-size: 1.3em;
}

#site-logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

#site-links {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slink {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.slink h3 {
    font-size: 1.5em;
}

.slink a {
    color: #ffffff;
    -webkit-transition: color 500ms ease-in-out;
    transition: color 500ms ease-in-out;
}

.title-date {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 5px;
}

.logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    
}


#skills {
    width: 199%;
    position: relative;
    background: url('../img/languages.png') 50% 100% no-repeat fixed;
    height: 630px;
    min-height: 630px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* ============================== CONTACT SECTION ====================================== */

#contact { 
    border-top: 5px solid #454545;
	background: url('../img/contact-bg.png') 60% 100% repeat-x fixed;
	min-height: 700px; 
	height: 700px; 
    padding-top: 30px;
}

#contact h2 {
    margin-left: 80px;
    font-size: 3.5em;
    color: #454545;
}

#contact-space {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#contact-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#contact-space .spacer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#icon-wrapper {
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.icon {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-text {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.3em;
    margin-left: 20px;
}

#icon1 a{
    color: #333333;
}

#icon2 a{
    color: #0077B5;
}

#icon3 a{
    color: #55ACEE;
}

#icon4 a{
    color: #4F93FF;
}

/* ========================== HIDE SKILLS IN MOBILE ================================== */

@media (max-width: 991px) {
    
    #head {
        padding-bottom: 150px;
    }
    
    #skills {
        display: none;
    }
    
    #contact h2 {
        margin-left: 30px;
    }
    
    #contact-content {
        margin-left: 30px;
    }
    
    #contact-content a {
        font-size: 1.1em;
    }
    
}
/* ========================== 320px ================================== */
@media (max-width: 479px) {
    #head {
        background: url('../img/front-img-320.jpg') 50% 0 fixed;
        min-height: 480px; 
        height: 480px; 
        padding-bottom: 0;
    }
    
    #name {
        font-size: 2rem;
        min-height: 50px;
    }
    .smaller {
        font-size: 1.7rem;
    }
    .fa-ul {
        margin-left: 0.8em !important;
    }
    #about {
        min-height: 480px;
        height: 480px;
        
    }
    .about-nav li {
        font-size: 1.3em;
    }
    
    #my-info {
        font-size: 0.8em;
        padding-top: 10px;
    }
    .ul-wrapper:first-child {
        margin-bottom: 10px;
    }
    #project-info {
        font-size: 1.1em;
        padding-top: 10px;
        height: 370px;
    }
    #site-logo {
        display: none;
    }
    
    #contact-content a {
        font-size: 0.8em;
    }
    
    #contact h2 {
        font-size: 2em;
    }
    
    #contact {
        background: url('../img/contact-bg-320.png') 50% 100% repeat-x fixed;
        min-height: 480px;
        height: 480px;
    }
    
    #contact a {
        font-size: 0.5em;
    }
    .mobile-text {
        font-size: 0.8em;
    }
}

/* ========================== 480px ================================== */
@media (min-width: 480px) {
    
    #head {
        background: url('../img/front-img-480.jpg') 50% 0 fixed;
        min-height: 800px; 
        height: 800px; 
        padding-bottom: 0;
    }
    
    #name {
        font-size: 3rem;
        min-height: 75px;
    }
    .smaller {
        font-size: 2.3rem;
    }
    .fa-ul {
        margin-left: 1em !important;
    }
    .about-nav li {
        font-size: 1.8em;
    }
    
    #my-info {
        font-size: 1.1em;
    }
    #project-info {
        font-size: 1.1em;
    }
    
    #contact-content a {
        font-size: 0.8em;
    }
    
    #contact h2 {
        font-size: 2.5em;
    }
    
    #contact {
        background: url('../img/contact-bg-480.png') 50% 100% repeat-x fixed;
    }
}

/* ========================== 540px ================================== */
@media (min-width: 540px) {
    #head { 
        background: url('../img/front-img-640.jpg') 50% 0 fixed;
        min-height: 960px; 
        height: 960px; 
    }
    
    #name {
        font-size: 3.4rem;
        min-height: 90px;
    }
    
    .smaller {
        font-size: 2.7rem;
    }
    
    #contact {
        background: url('../img/contact-bg-640.png') 50% 100% repeat-x fixed;
    }
    
    #contact h2 {
        font-size: 3.5em;
    }
    
}

/* ========================== 640px ================================== */
@media (min-width: 640px) {
    #name {
        font-size: 4rem;
    }
    .smaller {
        font-size: 3rem;
    }
}


/* ========================== 720px ================================== */
@media (min-width: 720px) {
    
    .about-nav li {
        font-size: 2.5em;
    }

    #head {
        background: url('../img/front-img.jpg') 55% 0 fixed;
    }
    
    #name {
        font-size: 4.8rem;
        min-height: 130px;
    }
    .smaller {
        font-size: 3.9rem;
    }
    
    #my-info {
        font-size: 1.5em;
    }
    
    #project-info a {
        font-size: 1.2em;
    }
    
    #contact {
        background: url('../img/contact-bg.png') 65% 100% repeat-x fixed;
    }
}

/* ============================== 992 px ====================================== */
@media (min-width: 992px) {
    .mobile-text {
        display: none;
    }
    
    .slink a:hover {
        color: #000000;
    }
    
    #contact-scroll:hover {
        cursor: pointer;
    }
    
    .about-nav li:hover {
        cursor: pointer;
        font-size: 3em;
    }
    
    .icon {
        -webkit-transition: opacity 500ms ease-in-out;
        transition: opacity 500ms ease-in-out;
    }
    
    .icon:hover {
        opacity: 0.5;
    }
    
    #icon-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    
    #contact-images{
        opacity: 0.7;
        margin-top: 5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #hidden-message {
        text-align: center;
        padding-top: 30px;
        font-size: 2.5em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
}

/* ============================== 1100 px ====================================== */
@media (min-width: 1100px) {
    
    .smaller {
        font-size: 4.5rem;
    }
    
    #contact {
        background: url('../img/contact-bg.png') 50% 100% repeat-x fixed;
    }
    
}

/* ============================== 1200 px ====================================== */
@media (min-width: 1200px) {
    
    #my-info {
        margin-left: 40px;
    }
    
    #project-info {
        margin-left: 40px;
        font-size: 1.4em;
    }
    
    #icon-wrapper a {
        font-size: 1.2em;
    }
    
}

/* ============================== 1264 px ====================================== */
@media (min-width: 1264px) {
    
    #my-info {
        font-size: 1.5em;
    }
    
}

/* ============================== 1350+ px ====================================== */
@media (min-width: 1350px) {
    
    #my-info ul h4 {
        font-size: 1.2em;
    }
    
}